<button type="button" (click)="toggleMembers()">
  {{ showMembers ? 'Hide members' : 'Show members' }}
</button>

@if (showMembers) {
  @if (members.length > 0) {
    <h2>Members</h2>

    @for (member of members; track member.userId) {
      <div>
        <span> {{ member.username }} — Role: {{ member.role }} </span>

        <!-- Member role editing -->

        @if (editingMemberId === member.userId) {
          <select [(ngModel)]="selectedRole">
            @for (role of roles; track role.value) {
              <option [ngValue]="role.value">
                {{ role.label }}
              </option>
            }
          </select>
          <button type="button" (click)="saveMemberRole(member.userId)">Save</button>

          <button type="button" (click)="cancelMemberRoleEdit()">Cancel</button>
        } @else {
          <button type="button" (click)="startEditMemberRole(member)">Edit role</button>
        }

        <button type="button" (click)="removeMember(member.userId)">Remove</button>
      </div>
    }
  } @else {
    <p>No members found</p>
  }
}

<br />

<input type="number" name="userId" [(ngModel)]="newMemberUserId" placeholder="User ID" />

<button type="button" (click)="addMember()">Add member</button>
